
@model CrearOrdenViewModel

@{

    ViewData["tittle"] = "Crear orden";
}

<style>

    .container {
        background-color: #2a2a2a;
        padding: 20px;
        border-radius: 10px;
        width: 800px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }

    h2 {
        color: #fff;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    label {
        margin-bottom: 5px;
        font-size: 14px;
    }

    input, select {
        padding: 10px;
        background-color: #444;
        border: none;
        color: white;
        border-radius: 5px;
    }


    .actions {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

        .actions button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            margin: 0 10px;
        }

    .cancel {
        background-color: grey;
        color: white;
        transition: background-color 0.3s;
    }

    .create {
        background-color: grey;
        color: white;
        transition: background-color 0.3s;
    }

    .cancel:hover {
        background-color: lightslategrey;
    }

    .create:hover {
        background-color: lightslategrey;
    }


    select option {
        background-color: #444;
        color: white;
    }

    .icono {
        margin-right: 5px;
        font-size: 16px;
    }

    .form-row img {
        margin-left: 10px;
        width: 20px;
    }

    .role-selector {
        margin: 10px;
        width: 50%;
    }
</style>

<h1>Crear orden</h1>

<hr />

<div class="container">

    <form asp-action="Crear">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-row">

            <div class="form-group">
                <label for="name" >Nombre del artículo</label>
                <input asp-for="NombreArticulo" type="text" placeholder="Nombre del Artículo">
                <span asp-validation-for="NombreArticulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="idUsuario">Modelo</label>
                <input asp-for="Modelo" type="text" placeholder="Ingresa el modelo">
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Monto en colones</label>
                <input asp-for="Precio" type="number" placeholder="Ingresa el Monto en colones">
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            
        </div>

        <div class="form-row">
            <div class="form-group">
                <label>Ingresa la cantidad</label>
                <input asp-for="Cantidad" type="number" placeholder="Ingresa la cantidad">
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="idUsuario">Detalles</label>
                <input asp-for="Detalles" type="text" placeholder="Ingresa los detalles">
                <span asp-validation-for="Detalles" class="text-danger"></span>
            </div>
        </div>


        <div class="actions">
            <button asp-action="Index" asp-controller="Usuarios" type="button" class="cancel">Cancelar</button>
            <button  type="submit" class="create"><i class="fa fa-plus-square"></i> Enviar</button>
        </div>
    </form>
</div>
