@model TbUsuario

@{
    ViewData["Title"] = "Delete";
}

<h1>Seguro que deseas eliminar el usuario?</h1>


<form asp-action="Delete">

    <input type="hidden" asp-for="IdUsuario" />
    <button type="submit" asp-action="Delete" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index">Cancelar</a>

</form>


