@model EditarUsuarioViewModel

@{
    ViewData["Title"] = "Actualizar datos de usuario";
}



<h4>Actualizar datos de usuario.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="IdUsuario" />


            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre completo</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Restablecer" class="control-label"></label>
                <input asp-for="Restablecer" class="form-control" />
                <span asp-validation-for="Restablecer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirmado" class="control-label"></label>
                <input asp-for="Confirmado" class="form-control" />
                <span asp-validation-for="Confirmado" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="IdRol" class="control-label">Rol del usuario</label>
                <select asp-for="IdRol" class="form-control" asp-items="ViewBag.Roles"></select>
                <span asp-validation-for="IdRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdJefe" class="control-label">Jefe a cargo</label>
                <select asp-for="IdJefe" class="form-control" asp-items="ViewBag.Jefes"></select>
                <span asp-validation-for="IdJefe" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al panel de usuarios</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
