@model EditarUsuarioViewModel

@{
    ViewData["Title"] = "Actualizar datos de usuario";
}

<style>
    .container {
        background-color: #2a2a2a;
        padding: 20px;
        border-radius: 10px;
        width: 800px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }

    h2 {
        color: #fff;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        width: 30%; /* Mantiene el ancho uniforme para los selects */
    }

    label {
        margin-bottom: 5px;
        font-size: 14px;
    }

    input, select {
        padding: 10px;
        background-color: #444;
        border: none;
        color: white;
        border-radius: 5px;
    }

    .actions {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

        .actions button,
        .actions a {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            margin: 0 10px;
            text-decoration: none; /* Elimina el subrayado del enlace */
            display: inline-block; /* Asegura que el enlace se comporte como un bloque */
            color: white; /* Color del texto */
        }

    .cancel {
        background-color: grey;
        transition: background-color 0.3s;
    }

    .create {
        background-color: grey;
        transition: background-color 0.3s;
    }

    .cancel:hover {
        background-color: lightslategrey;
    }

    .create:hover {
        background-color: darkblue;
    }

    select option {
        background-color: #444;
        color: white;
    }

    .icono {
        margin-right: 5px;
        font-size: 16px;
    }

    .role-selector {
        margin: 10px;
        width: 50%;
    }
</style>

<h2>Editar usuario</h2>

<hr />

<div class="container">

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="IdUsuario" type="hidden" />

        <div class="form-row">
            <div class="form-group">
                <label for="name">Nombre Completo</label>
                <input asp-for="Nombre" type="text" id="name" placeholder="Ingresa tu nombre completo">
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="idUsuario">Nombre de usuario</label>
                <input asp-for="Usuario" type="text" id="idUsuario" placeholder="Ingresa el nombre de usuario">
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input asp-for="Correo" type="email" id="email" placeholder="Correo Electrónico">
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group role-selector">
                <label for="roles">Asignar Rol</label>
                <select asp-for="IdRol" id="roles" asp-items="ViewBag.Roles"></select>
            </div>

            <div class="form-group role-selector">
                <label for="roles">Asignar Jefe</label>
                <select asp-for="IdJefe" id="roles" asp-items="ViewBag.Jefes"></select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group role-selector">
                <label for="Restablecer">Solicito restablecimiento</label>
                <select asp-for="Restablecer" id="restablecer">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
            <div class="form-group role-selector">
                <label for="Confirmado">Confirmo su email</label>
                <select asp-for="Confirmado" id="confirmado">
                    <option value="true">Confirmado</option>
                    <option value="false">No confirmado</option>
                </select>
            </div>
            <div class="form-group role-selector">
                <label for="Estado">Estado</label>
                <select asp-for="Estado" id="Estado">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
        </div>

        <div class="actions">
            <a asp-controller="Usuarios" asp-action="Index" class="cancel">Cancelar</a>
            <button asp-action="Edit" type="submit" class="create">Editar</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
