@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>Orsys - Establecer contraseña</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<style>
    body {
        background-color: hsl(218, 41%, 15%);
        color: black;
    }
</style>
<body>
    <div class="row justify-content-center mt-5">

        <div class="col-5">

            <div class="card">
                <div class="card-header"><h3 class="text-center">Establecer Contraseña</h3></div>
                <div class="card-body">
                    @if (ViewBag.ContraseñaEstablecida == null)
                    {
                        <form action="@Url.Action("EstablecerContraseña","Usuarios")" method="post">
                            <input type="hidden" name="token" value="@ViewBag.Token" />

                            <div class="mb-3">
                                <label>Ingresar contraseña</label>
                                <input type="password" class="form-control" name="Clave" required />
                            </div>
                            <div class="mb-3">
                                <label>Confirmar contraseña</label>
                                <input type="password" class="form-control" name="confirmarClave" required />
                            </div>

                            @if (ViewBag.Mensaje != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Mensaje
                                </div>
                            }

                            <div class="mb-3">
                                <div class="d-grid">
                                    <button class="btn btn-primary" type="submit">Establecer contraseña</button>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="alert alert-success">
                            <p>Su contraseña fue establecida, ahora puede ingresar a su cuenta con su clave.</p>
                            <a class="btn btn-success" href="@Url.Action("Login","Login")">Ingresar</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>