
@{
    ViewData["tittle"] = "Reportes de ordenes";
}


<head>

</head>

<style>

    table.table-dark {
        background-color: #333;
        border-radius: 10px; /* Redondear los bordes de la tabla */
        overflow: hidden; /* Asegura que el contenido no se salga de los bordes redondeados */
    }


    table.table-dark th,
    table.table-dark td {
        border: none; /* Elimina los bordes de las celdas para que no afecten el borde redondeado */
    }


    .icono-accionExportar{
        color: lightgrey;
        transition: color 0.3s;
    }


    .icono-accionExportar:hover{
        color: white;
    }


    .search-input::placeholder {
        color: #bbb; /* Cambia el color del texto del placeholder */
    }


    .search-input {
        background-color: #444; /* Cambia el color de fondo de la barra de búsqueda */
        color: white; /* Cambia el color del texto */
        border: 1px solid #666; /* Cambia el color del borde */
        border-radius: 5px; /* Redondear bordes de la barra de búsqueda */
    }


    .search-input:focus {
        background-color: #555; /* Color de fondo cuando está en foco */
        border-color: #888; /* Cambiar el color del borde cuando está en foco */
        outline: none; /* Quitar el borde azul predeterminado */
        color: white;
    }

</style>




<div class="container">
    <h1>Reporte de ordenes</h1>

    
    <hr />

    <div class="d-flex justify-content-between mb-3">
        <input type="text" class="form-control search-input" placeholder="Buscar" style="width: 300px;">
    </div>
    <i class="bi bi-upload"></i>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>#Orden</th>
                <th>Fecha de solicitud</th>
                <th>Accion</th>
                <th>Estado</th>
                <th>Exportar</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>8-10-2024</td>
                <td>
                    <a href="#" style="text-decoration:auto; color: blue">Ver</a>
                </td>
                <td>
                    <span class="text-success">Aprobado</span>
                </td>


                <td>
                    <i class="fas fa-external-link-alt icono-accionExportar"></i>
                    <input type="checkbox">
                </td>
            </tr>
        </tbody>
    </table>
</div>