<head>
    <link href="~/css/estilologin.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>
    <main role="main" class="pb-3 col">
        @RenderBody()
    </main>
</body>

