@model UsuarioLoginViewModel


<html lang="en">

 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Login</title>
    <link href="~/css/estilologin.css" rel="stylesheet" />
 </head>



<div class="login-container">
    <div class="login-box">
        <form >
            <div class="input-box">
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" placeholder="Usuario" required>
            </div>

            <div class="input-box">
                <label for="password">Contraseña</label>
                <input type="password" id="password" placeholder="Contraseña" required>
            </div>

            <a asp-action="Restablecer" class="forgot-password">¿Olvidaste tu Contraseña?</a>
            <button asp-action="Index" asp-controller="Usuarios" type="submit">Ingresar</button>
        </form>
    </div>
</div>
   
</html>