@model UsuarioLoginViewModel


<html lang="en">

 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Login</title>
    <link href="~/css/estilologin.css" rel="stylesheet" />
 </head>



<div class="login-container">
    <div class="login-box">



        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger" style="color: red"></div>


            <div class="input-box">
                <label asp-for="Correo" for="usuario">Usuario</label>
                <input asp-for="Correo" type="text" id="usuario" placeholder="Usuario" required>
            </div>

            <div class="input-box">
                <label asp-for="Clave" for="password">Contraseña</label>
                <input asp-for="Clave" type="password" id="password" placeholder="Contraseña" required>
            </div>

            <a asp-action="Restablecer" class="forgot-password">¿Olvidaste tu Contraseña?</a>
            <button type="submit">Ingresar</button>
        </form>
    </div>
</div>
   
</html>